*{
    margin: 0;
    font-family:'Lexend Deca', sans-serif;
    text-decoration: none;
}

header{
    background: linear-gradient(rgba(238, 238, 238, 0.8)50%, rgba(238, 238, 238, 0.6)70%, rgba(238, 238, 238, 0.0)100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vw;
    font-size: 2vw;
}

h1{
    text-align: center;
    margin-top: 3vw;
    font-size: 5vw;
}

.content{
    background: linear-gradient(rgb(8, 42, 6) 30%, rgba(144, 238, 144, 0.5) 50%, rgb(255, 255, 255));
}

#firsttext{
    width: 70vw;
    font-size: 2.5vw;
    margin-top: 20vw;
}

.center{
    margin: 5vw auto;
    display: block;
    width:70vw;

    padding: 3vw;
    border-radius: 5vw;
    background: radial-gradient(ellipse, rgba(238, 238, 238, 0.6)70%, rgba(238, 238, 238, 0.001));
}

.intro{
    mask-image: linear-gradient(#000000 75%, rgba(0,0,0,0.05) 100%);
    background-image: url("img/pexels-flo-maderebner-2281073.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#explimg{
    border-radius: 0;
    width:50vw;
    height: 50vw;
    justify-self:center ;
}

.maintext{
    font-size: 3vw;
}

.left{
    margin: 10vw auto 10vw 1vw;
    display: inline;
    width:40vw;

    padding: 3vw;
    border-radius: 5vw;
    background: radial-gradient(ellipse, rgba(238, 238, 238, 0.6)70%, rgba(238, 238, 238, 0.001));
    align-self: center;
}

.right{
    margin: 10vw 1vw 10vw auto;
    display: inline;
    width:40vw;

    padding: 3vw;
    border-radius: 5vw;
    background: radial-gradient(ellipse, rgba(238, 238, 238, 0.6)70%, rgba(238, 238, 238, 0.001));
    align-self: center;
}

h3{
    margin: 2vw auto;
    display: block;
    font-size: 4vw;
}

p{
    font-size: 2vw;
}

#cameras{
    display: flex;
    justify-content: space-between;
    width:100vw;
    height:22.2385vw;
    margin-top: 10vw;
}

#cameras>img{
    width: 33.3333vw;
}

#cameratxt{
    margin-top: 40vw;
}



/*________________________________________________________________________________________________________________________________________________
Gallery site
 */

.container>img{
    border-radius:3vw;
}

.w1\/2{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.w2\/1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.w1\/1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* a mediaquery to adjust for smaller screens*/
@media screen and (max-width: 500px){

    h1{
        font-size: 7vw;
    }

    .intro{
        background-size: cover;
        background-position: center;
    }
    #firsttext{
        width: 70vw;
        font-size: 3.5vw;
        margin-top: 25vw;
    }

    #explimg{
        display: none;
    }

    .right{
        margin: 5vw auto;
        display: block;
        width:50vw;
    }

    .left{
        margin: 5vw auto;
        display: block;
        width:50vw;
    }

    .maintext{
        font-size: 4vw;
        width: 65vw;
    }

    p{
        font-size: 3vw;
    }

    img.left{
        width: 65vw;
    }
    img.right{
        width: 65vw;
    }

    #cameratxt{
        margin-top: 2vw;
    }

}

